# Everything
*
# except
!.github
!.github/**
!deliverable-1
!deliverable-1/**
!deploy
!deploy/**
!frontend
!frontend/**
!lambda
!lambda/**
!.gitignore
!.gitmodules
!.terraform.lock.hcl
!deploy.tf
!README.md
# Ignore all nested stuff even in included dirs.
*/**/node_modules
*.tfstate
*.tfstate.backup
*.zip
*.terraform
*.