.synduce-button > p {
    flex-grow: 1;
    align-self: center;
}

.synduce-button:hover {
    cursor: pointer;
    opacity: 90%;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05; 
}

.synduce-button > svg {
    align-self: center;
    margin-right: 20px;
}

.synduce-button {
    background: #8D86C9;
    border-radius: 5px;
    color: whitesmoke;
    height: 50px;
    width: 200px;
    display: flex;
    border: none;
    font-size: 16px;
    font-weight: bold;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}