.main {
    margin-top: 1.5rem;
}

.editorWrapper {
    margin: auto;
    max-width: 1000px;
}

.editorWrapper > div > div {
    height: 400px;
}

.executeWrapper {
    margin-top: 20px;
    text-align: center;
}

.loadedPrevious {
    color: grey;
    font-size: 14px;
}

.requestUpdateButton {
    margin-top: 10px;
    background-color: #ff4b4b;
    font-size: 12px;
    padding: 10px;
}

.optionsWrapper {
    max-width: 1000px;
    margin: auto;
}

.responseWrapper {
    margin: auto;
    max-width: 1000px;
    font-weight: 500;
    padding-bottom: 20px;
}

.responseWrapper > h2, .optionsWrapper > h2 {
    margin-bottom: 0;
    font-family: "Manrope", sans-serif;
}

.responseWrapper > p {
    margin-top: 5px;
}

.statusBox {
    margin-top: 5px;
    padding: 10px 10px 15px;
    border-radius: 10px;
}

.statusBox > p {
    margin: 0;
}

.statusBox > p:first-child {
    font-weight: bold;
    font-size: 1.1rem;
}

.statusBox.success {
    background-color: #AFE1AF;
}

.statusBox.error {
    background-color: #f6a48d;
}

.codebox {
    background-color: #282C34;
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 5px;
}

.requestOptions div input {
    vertical-align: middle;
    margin-right: 5px;
}

.requestOptions div {
    margin-top: 5px;
}

.requestOptions .rangeValue {
    margin-right: 5px;
}